// Define variables for your color scheme

// For example:
$status-red: #EB5757;
$status-orange: #FFC400;
$status-green: #4CA90C;
$blue: #167FFB;
$yellow: #F8B960;
$orange: #DA3A0A;
$green: #6A8437;
$dark-green: #233E41;
$gray: #0E0000;
$dark-gray: #525252;
$light-gray: #C4C4C4;
$alt-white: #ECE5D3;
$white: white;