.rectangle {
  background: $yellow;
  width: 50%;
  height: 50%;
  top:0;
  right:0;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
  z-index: -10;
}

.rectangle_bottom {
  background: #ECE5D3;
  position: absolute;
  width: 600px;
  height: 600px;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.paper {
  background-image: asset-url("paper.png");
  z-index: -9;
  opacity: 0.95;
}

.btn-cart{
  width: 80px;
  margin-right: 8px;
}

.quantity-cart{
  width: 50px;
}

.card-cart{
  height: 90vh;
  overflow-y: scroll;
}

.cart-title{
  margin-left: 5%;
  margin-top: 4%;
  position: absolute;

}