.rectangle-overview {
  background: $alt-white;
  width: 400px;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  z-index: -9;
}

.paper {
  background-image: asset-url("paper.png");
  z-index: -9;
  opacity: 0.95;
}

.overview-title{
  color: $gray;
  margin-left: 32px;
  margin-top: 20%;
}

.last-title{
  color: $gray;
  margin-left: 32px;
  margin-top:10%;
}


.charts-infos{
  width: fit-content;
  margin-top: 8%;
  margin-left: 32%;
}


.top-buffer{
  margin-left: 30px !important;
  // margin-top: 10% !important;
}

.top-buffer p, h4{
  color: $gray;
  font-size: 20px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.price{
  font-size: 20px;
}

.top-buffer ul {
  margin-left: -40px;
}
// .top-buffer i{
//   display: flex;
//   justify-self: flex-end;
// }

.list-dashboard{
  margin-top: 7%;
}

// .card-product-dashboard {
//   overflow: hidden;
//   height: 120px;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   display: flex;
//   align-items: center;
// }

// .card-product-dashboard img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

// .card-product-dashboard h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product-dashboard p {
//   font-size: 12px;
//   line-height: 1.4;
//   opacity: .7;
//   margin-bottom: 0;
//   margin-top: 8px;
// }

// .card-product-dashboard .card-product-dashboard-infos {
//   padding: 16px;
// }


