.rectangle-overview {
  background: $alt-white;
  width: 400px;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
}

.overview-title{
  margin-left: 32px;
}

.paper {
  background-image: asset-url("paper.png");
  z-index: -9;
  opacity: 0.95;
}

.top-buffer{
  margin-top: 48px;
}

.current-order {
  position: absolute;
  margin-left: 32px;
}

.chart {
  margin-right: 32px !important;
}