// Specific CSS for your home-page

.title {
  margin-left: 220px;
  margin-top: 280px;
}

.title h1{
  font-size: 164px;
  font-weight: bold;
  letter-spacing: 15px;
}

.title p {
  color: $light-gray;
}

.rectangle {
  background: $yellow;
  width: 600px;
  height: 600px;
  top:0;
  right:0;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}

.paper {
  background-image: url("paper.png");
  z-index: -9;
  opacity: 0.95;
}


// Illustrations
#leeks{
  background-image: url("leeks.png");
  width: 100%;
  height:100%;
  overflow: hidden;
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 40px;
  left: 427px;

  animation: leeks 3s infinite;
}

#beacon{
  background-image: url("beacon.png");
  width: 100%;
  height:100%;
  overflow: hidden;
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 80px;
  -webkit-transform: rotate(-30deg);
  top: 270px;
  z-index: -10;

  animation: beacon 4s infinite;
}

#watermelon{
  background-image: url("watermelon.png");
  width: 100%;
  height:100%;
  overflow: hidden;
  background-size: 140px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 200px;
  top: 80px;
  z-index: -10;

  animation: watermelon 2s infinite;
}

#cherries{
  background-image: url("cherries.png");
  width: 100%;
  height:100%;
  overflow: hidden;
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 150px;
  left: 45px;
  -webkit-transform: rotate(40deg);
  z-index: -10;

  animation: cherries 6s infinite;
}

#cumcumber{
  background-image: url("cumcumber.png");
  width: 100%;
  height:100%;
  overflow: hidden;
  background-size: 180px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: rotate(15deg);
  top: 250px;
  left: 330px;
  z-index: -10;

  animation: cumcumber 5s infinite;
}

#fish{
  background-image: url("fish.png");
  width: 100%;
  height:100%;
  overflow: hidden;
  background-size: 180px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: rotate(10deg);
  bottom: 80px;
  left: 230px;
  z-index: -10;

  animation: fish 3s infinite;
}

@keyframes leeks{
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes beacon{
  0%{transform: rotate(-30deg)}
  80%{transform: rotate(-30deg)}
  85%{transform: rotate(-25deg)}
  95%{transform: rotate(-35deg)}
  100%{transform: rotate(-30deg)}
}

@keyframes watermelon{
  0%{transform: rotate(0deg)}
  80%{transform: rotate(0deg)}
  85%{transform: rotate(5deg)}
  95%{transform: rotate(-5deg)}
  100%{transform: rotate(0deg)}
}

@keyframes cherries{
  0%{transform: rotate(40deg)}
  80%{transform: rotate(40deg)}
  85%{transform: rotate(35deg)}
  95%{transform: rotate(45deg)}
  100%{transform: rotate(40deg)}
}

@keyframes cumcumber{
  0%{transform: rotate(15deg)}
  80%{transform: rotate(15deg)}
  85%{transform: rotate(10deg)}
  95%{transform: rotate(20deg)}
  100%{transform: rotate(15deg)}
}

@keyframes fish{
  0%{transform: rotate(10deg)}
  80%{transform: rotate(10deg)}
  85%{transform: rotate(5deg)}
  95%{transform: rotate(15deg)}
  100%{transform: rotate(10deg)}
}

