// Import page-specific CSS files here.
@import "home";

.index-banner{
  background-image: linear-gradient(rgba(245, 245, 245, 0.4),rgba(245,245,245,0.4)), url("index-banner.png");
  opacity: 0.7;
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.product-description{
  overflow: scroll;
  // position: static;
}

.index-tabs{
  position: static;
}

.suppliers{
  margin: 24px;
}

.add-button{
  position: relative;
  z-index: 10;
}