.playlist-rectangle {
  width: 200px;
}

.col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.row {
  width: 110%;
  margin-right: 0px;
  margin-left: -60px;
}

.container {
    position: relative;
    margin-bottom: 20px;
    margin-top: 210px;
    margin-left: 500px;
}

.playlist {
  box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
  border-radius:3px;
  transition:.2s all;
  width: 100%;
  height: 800px;
}

.row:hover .playlist{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.row:hover .playlist:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.playlist-img {
  img {
    max-width: 100%;
    max-height: 100%;
}
}

.playlist-name {
  border: solid;
  border-color: $status-red;
  margin-top: 12px;
}

.playlist-name {
  h2 {
    font-family: Sacramento;
    position: relative;
    text-align: center;
    padding-top: 12px;
  }
}

.playlist-element {
  margin-top: 12px;
  padding-left: 32px;
}

.playlist-element {
  p {
    font-family: Roboto;
    font-size: 24px;
    font-weight: lighter;
  }
}

.playlist-btn {
  text-align: center;
}

.playlist-btn {
  .btn-basket {
    width: 350px;
  }
}
