<div class="container shopping">
  <div class="row">
  <i class="fas fa-cart-arrow-down fa-lg shop-logo" ></i>
    <%= link_to " #{@current_cart.values.reduce(:+)}  items", carts_path, class: "nav-link" %>
  </div>
</div>
