<ul class="list-inline tabs-underlined">
  <i class="fas fa-chevron-left chevron"></i>
  <% Category.all.each do |category| %>
    <li>
      <%= form_tag products_path, method: :get, :class => 'form-inline' do %>
        <%= hidden_field_tag :query, category.name %>
        <%= submit_tag "#{category.name.capitalize}", class: "btn btn-flat btn-all"  %>
      <% end %>
    </li>
  <% end %>
  <i class="fas fa-chevron-right chevron"></i>
</ul>

