
<div class="tabs-container">
  <ul class="list-inline tabs-underlined paper scrollmenu">
    <% Category.all.each do |category| %>
      <li>
        <%= form_tag products_path, method: :get, :class => 'form-inline' do %>
          <%= hidden_field_tag :query, category.name %>
          <%= submit_tag "#{category.name == "Plant-based-foods-and-beverages" ? "PLANT BASED" :category.name.upcase }", class: "btn btn-flat btn-all d-flex justify-content-center w-100 ml-4 mr-4"  %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


