<div class="">
  <%# orange triangle %>
  <section class="rectangle paper"></section>

<%# illustration %>

  <div class="illustration justify-content-lg-end">
    <div id="leeks"></div>
    <div id="cherries"></div>
    <div id="cumcumber"></div>
    <div id="watermelon"></div>
    <div id="beacon"></div>
    <div id="fish"></div>
  </div>

  <div class="title">
    <div class="d-flex align-items-start flex-column">
      <h3 class="catch-phrase">cheaper, greener, healthier.</h3>
      <h1>oishi.</h1>
      <div><%= link_to "Browse", products_path, class: "btn btn-info btn-lg" %></div>
    </div>
  </div>

  <%# <div class="container-content-pages m-8">
    <h2 class="text-center">Monitor your consumption habits while doing your groceries online</h2>
    <div class="container-content-purpose d-flex mt-4">
      <div class="quote w-25">
        <p>
          "By 2030, ensure that people everywhere have the relevant information and
            awareness for sustainable development and lifestyles in harmony with
            nature." - United Nations Sustainable Development Goal n°12
        </p>
      </div>

      <div class="oishi-list">
        <ul>
          <li>
            <h3><strong>Grocery shopping facilitator</strong></h3>
            <p>Oishi provides you data to help you in your grocery shopping journey with simple
            indicators to help you make the right decisions</p>
          </li>
          <li>
            <h3><strong>Suggestions</strong></h3>
            <p>For every product, Oishi displays suggestests you eco-friendlier alternatives.</p>

          </li>
          <li>
            <h3><strong>Dashboard</strong></h3>
            <p>Monitor your consumption and see your improvements. We truly believe that the right data will allow us
            to improve our consumption habbits.</p>
          </li>
        </ul>
      </div>
    </div>
  </div> %>

</div>














