<section class="rectangle paper"></section>

<div class="title">
  <div class="d-flex align-items-start flex-column">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <h1>oishi.</h1> 
    <button type="button" class="btn btn-info btn-lg">Discover</button>
  </div>
</div>

