<%# orange triangle %>
<section class="rectangle paper"></section>

<div id="leeks"></div>
<div id="cherries"></div>
<div id="cumcumber"></div>
<div id="watermelon"></div>
<div id="beacon"></div>
<div id="fish"></div>




<div class="title">
  <div class="d-flex align-items-start flex-column">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <h1>oishi.</h1>
    <button type="button" class="btn btn-info btn-lg">DISCOVER</button>
  </div>
</div>

