<div class="">
  <%# orange triangle %>
<section class="rectangle paper"></section>

<%# illustration %>

<div class="illustration justify-content-lg-end">
  <div id="leeks"></div>
  <div id="cherries"></div>
  <div id="cumcumber"></div>
  <div id="watermelon"></div>
  <div id="beacon"></div>
  <div id="fish"></div>
</div>

<div class="title">
  <div class="d-flex align-items-start flex-column">
    <h3 class="catch-phrase">cheaper, greener, healthier.</h3>
    <h1>oishi.</h1>
    <div><%= link_to "Discover", products_path, class: "btn btn-info btn-lg" %></div>
  </div>
</div>
</div>
