<div class="d-flex justify-content-center">
  <div class="card-product w-50 p-3">
    <img class="mh-100" style="width: "width: 200px; height: 300px" src="https://images.unsplash.com/photo-1464965911861-746a04b4bca6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
    <div class="card-product-infos">
      <div class="d-flex justify-content-between">
        <h2>Product name</h2>
        <h2>15CHF</h2>
      </div>
      <h3>Category</h3>
      <div class="d-flex justify-content-around badges">
        <i class="fas fa-cloud fa-2x"></i>
        <i class="fas fa-certificate fa-2x"></i>
        <i class="fas fa-money-bill-wave fa-2x"></i>
      </div>
      <p class="align-text-bottom">Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>

