



<div class="grid-container">

  <div class="current-order paper">
    <div class="current-order">
      <h3>Previous Order</h3>
      <ul>
        <li>order_porduct 1 NO PICTURE</li>
      </ul>
    </div>
  </div>

  <div class="eco-chart">
    <div class="eco-chart chart">
      <%= column_chart(a:3, b:9, c:4, d:5) %>
    </div>
  </div>

  <div class="details-chart">
    <div class="nutritionnal-chart chart">
      <%= column_chart(a:3, b:7, c:1, d:6) %>
    </div>
  </div>

  <div class="last-orders">
    <h4>last Orders</h4>
      <ul>
        <li>
          <div class="badge badge-pill">8</div>Order 1
        </li>
        <li>
          <div class="badge badge-pill">7</div>Order 1
        </li>
        <li>
          <div class="badge badge-pill">5</div>Order 1
        </li>
      </ul>
  </div>

  <div class="eco-stats">
    <h4>Eco Impact</h4>
      <ul>
        <li>Order 1</li>
        <li>Order 1</li>
        <li>Order 1</li>
      </ul>
  </div>

  <div class="details-stats">
    <h4>Nutrionnal Details</h4>
      <ul>
        <li>Order 1</li>
        <li>Order 1</li>
        <li>Order 1</li>
      </ul>
  </div>

  <div class="spendings">
    <h4>Spendings</h4>
      <ul>
        <li>Order 1</li>
        <li>Order 1</li>
        <li>Order 1</li>
      </ul>
  </div>

</div>