.badge{
  border: 1px solid $orange;
  color: white;
  border-radius: 10rem;
  font-size: 12px;
  line-height: 1;
  padding: .375rem .5625rem;
  font-weight: normal;
  margin-right: 8px;
  background-color: $orange;
  margin: 4px;
}