// Product Card
.card-product {
  margin-top: 10px;
  overflow: hidden;
  height: 300px;
  width: 90% !important;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: $body-font;
  border: 1px solid $light-gray;
}

.card-product:hover{
  cursor: zoom-in;
}

.card-product img {
  height: 100px ;
  width: 100px;
  object-fit: scale-down;
}

.card-product h2 {
  color: $gray;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 16px;
  color: $dark-gray;
  margin: 0;
}

.card-product p {
  padding-top: 16px;
  color: $gray;
  vertical-align: text-bottom;
  word-wrap: break-word;
  overflow: scroll !important;
}

.badges{
  padding-top: 8px;
}

.card-product {
  padding: 16px;
}

#add-button{
  z-index: 10;
}


// cart card
.card-product-cart {
  margin-top: 10px;
  overflow: hidden;
  height: 165px;
  width: 100% !important;
  background: white;
  display: flex;
  font-family: $body-font;
  border: 1px solid $light-gray;
}

.card-product-cart img {
  height: 65px !important;
  width: 65px !important;
  object-fit: scale-down;
}

.card-product-cart h2 {
  color: $gray;
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
}

.card-product-cart h3 {
  padding-top: 4px;
  font-size: 16px;
  color: $dark-gray;
  margin: 8px;
}

.card-product-cart p {
  padding-top: 16px;
  color: $gray;
  vertical-align: text-bottom;
  word-wrap: break-word;
  width: 75%;
  margin-left: 8px;
}

.new_order_product {
  display: flex !important;
  margin: 8px;
}


//checkout-card
.card-checkout {
  box-shadow: 0 8px 8px rgba(224, 224, 224, 0.2);
  margin-top: 10px;
  overflow: hidden;
  height: 140px !important;
  width: 100% !important;
  background: white;
  display: flex;
  font-family: $body-font;
  border: 1px solid $light-gray;
}

.card-checkout img {
  height: 65px !important;
  width: 65px !important;
  object-fit: scale-down;
}

.card-checkout h2 {
  color: $gray;
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
}

.card-checkout h3 {
  padding-top: 4px;
  font-size: 16px;
  color: $dark-gray;
  margin: 8px;
}

.card-checkout p {
  padding-top: 16px;
  color: $gray;
  vertical-align: text-bottom;
  word-wrap: break-word;
  width: 75%;
  margin-left: 8px;
}

.checkout-info{
  margin-top: -43px !important;
}

.checkout-price{
  margin-top: -80px !important;
  margin-right: -53px !important;
}

.stripe-container{
  margin-top: 24px;
}


.stripe-container span{
  font-weight: bolder;
}

.card-cart-checkout{
  height: 60vh;
  overflow-y: scroll;
}

.quantity-checkout{
  width: 45px;
  height: 45px;
}

.stripe-button-el span{
  background: $orange !important;
}

.cursor:hover{
  cursor: copy;
}