// Product Card
.card-product {
  // margin-right: 24px;
  margin-top: 10px;
  overflow: hidden;
  height: 300px;
  width: 90% !important;
  background: white;
  display: flex;
  flex-direction: column;
  // align-items: stretch;
  font-family: $body-font;
  border: 1px solid $light-gray;
}

.card-product img {
  height: 100px ;
  width: 100px;
  object-fit: scale-down;
}

.card-product h2 {
  color: $gray;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  padding-top: 4px;
  font-size: 16px;
  color: $dark-gray;
  margin: 0;
}

.card-product p {
  padding-top: 16px;
  color: $gray;
  vertical-align: text-bottom;
  word-wrap: break-word;
  width: 84%;
  overflow: scroll !important;

}

.badges{
  padding-top: 8px;
}

.card-product {
  padding: 16px;
}

#add-button{
  z-index: 10;
}


// cart card
.card-product-cart {
  // margin-right: 24px;
  margin-top: 10px;
  overflow: hidden;
  height: 165px;
  width: 90% !important;
  background: white;
  display: flex;
  // align-items: stretch;
  font-family: $body-font;
  border: 1px solid $light-gray;
}

.card-product-cart img {
  height: 65px !important;
  width: 65px !important;
  object-fit: cover;
}

.card-product-cart h2 {
  color: $gray;
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
}

.card-product-cart h3 {
  padding-top: 4px;
  font-size: 16px;
  color: $dark-gray;
  margin: 8px;
}

.card-product-cart p {
  padding-top: 16px;
  color: $gray;
  vertical-align: text-bottom;
  word-wrap: break-word;
  width: 75%;
  margin-left: 8px;
}

.new_order_product {
  display: flex !important;
  margin: 8px;
}
