.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  display: flex;
  width: 100%;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 40px;
}

.nav-logo {
  font-family: "Sacramento";
  font-size: 32px;
  color: #525252;
}


.nav-logo {
  &:hover {
    text-decoration: none;
  }
}

.nav-link {
  font-family: Roboto;
}

.btn-flat {
  color: white;
  background: #6A8437;
  transition: opacity 0.3s ease;
  font-family: "Roboto";
  font-weight: medium;
}

.btn-flat:hover {
  background: #6A8437;
  color: white;
  opacity: 0.9;
}

.btn-ghost {
  color: white;
  border: 2px solid white;
  padding: 8px 24px;
  font-weight: normal;;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  margin-left: 40px;
  margin-right: 12px;
}

.btn-ghost:hover {
  opacity: 1;
  color: $info;
  border: 2px solid $info;
}

#btn-nav {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 150px;
}

.shop-logo{
padding-top: 13px !important;
}

.shopping{
  padding-top:2px !important;
}