
.modal-content {
  width: 800px;
  height: 700px;
}

.img-show{
  height: 200px  !important ;
  width: 200px !important;
  object-fit: cover;
}

.price-show p{
  color: $dark-gray;
}

.quantity-show{
  color: $dark-gray;
}

.category-name{
  color: $dark-gray;
}

// .basket-selection {
//   padding-bottom: 48px;
//   padding-left: 48px;
//   padding-right: 48px;
// }


// .list-group-item {
//   width: 160px;
// }

// #input {
//   width: 40px;
// }



// .img-show {
//   padding-top: 24px;
//   width: 200px;
// }

// h5 {
//   padding-bottom: 18px;

// }



// .recommandations-show {
//   display: flex;
//   justify-content: flex-start;
// }

// .suggestions {
//   display: flex;
//   justify-content: space-around;
// }

.modal {
  left: -150px;
}

.suggestion-title {
  display: flex;
  justify-content: center;
}

.img-suggestions img {
  justify-content: space-around;
  object-fit: cover;
  width: 180px;
  height: 180px;
}

.suggestion{
  margin-top: 100px;
}

/* Style the tab */
.tab-popup {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab-popup button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab-popup button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-popup button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
