.list-inline{
  overflow-x: auto;
  margin-bottom: 24px !important;
  height: 80px;
}

.tabs-underlined {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
  background-color: #ECE5D3;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0;
}

.tabs-underlined .tab-underlined {
  color: $gray;
  padding: 8px;
  margin: 8px 16px;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  font-family: Roboto;
  font-weight: medium;
}

.tabs-underlined .tab-underlined:hover {
  background-color: #ECE5D3;
  opacity: 0.4;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid $yellow;
}

.btn-all {
  background-color: $yellow;
  font-family: Roboto;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-all:hover {
  background-color: $yellow;
  opacity: 0.9;
}


.btn-lists {
  background-color: $orange;
  font-family: Roboto;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-lists:hover {
  background-color: $orange;
  opacity: 0.9;
}



.second-tabs {
  background-color: $dark-green;
}

.tabs-underlined .tab-underlined-second {
  color: white;
  padding: 8px;
  margin: 8px 16px;
  opacity: 0.9;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  font-family: Roboto;
  font-weight: medium;
}

.tabs-underlined .tab-underlined-second:hover {
  // background-color: $dark-green;
  color: $yellow;
}


.chevron{
  color: $gray;
}

.sidenav{
  // width: 200px;
  margin-left: 48px;
}

.paper {
  background-image: asset-url("paper.png");
  z-index: -9;
  opacity: 0.95;
}
