<section class="rectangle-overview paper playlist-rectangle">
</section>

<div class="playlist-page-title">
  <h1>The oishi packs</h1>
  <%= link_to "Back to products", products_path, class: "btn-products-redirection" %>
</div>

<div class="container container-playlist">
  <div class="row row-playlist">
    <div class="col-md col-playlist">
      <div class="playlist playlist-1">
        <div class="playlist-img">
          <img src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="">
        </div>
        <div class="playlist-name">
          <h2>The veggie</h2>
        </div>
        <div class="playlist-element">
          <p>Carrots</p>
          <p>Cumcumber</p>
          <p>Leeks</p>
          <p>Apples</p>
          <p>Cherries</p>
          <p>Spinachs</p>
          <p>Cawliflower</p>
        </div>
        <div class="playlist-btn">
          <%= link_to "ADD TO BASKET", "#", class: "btn btn-flat btn-basket" %>
        </div>
      </div>
    </div>
    <div class="col-md col-playlist">
      <div class="playlist playlist-2">
        <div class="playlist-img">
          <img src="https://images.unsplash.com/photo-1527324688151-0e627063f2b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="">
        </div>
        <div class="playlist-name">
          <h2>Sun & friends</h2>
        </div>
        <div class="playlist-element">
          <p>Beaf</p>
          <p>Sausages</p>
          <p>Corn</p>
          <p>Beers</p>
          <p>Olives</p>
          <p>Ketchup</p>
          <p>Salad</p>
        </div>
        <div class="playlist-btn">
          <%= link_to "ADD TO BASKET", "#", class: "btn btn-flat btn-basket" %>
        </div>
      </div>
    </div>
    <div class="col-md col-playlist">
      <div class="playlist playlist-3">
        <div class="playlist-img">
          <img src="https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="">
        </div>
        <div class="playlist-name">
          <h2>Sunday morning</h2>
        </div>
        <div class="playlist-element">
          <p>Beacon</p>
          <p>Eggs</p>
          <p>Beans</p>
          <p>Advocado</p>
          <p>Oranges</p>
          <p>Cakes</p>
          <p>Mushrooms</p>
        </div>
        <div class="playlist-btn">
          <%= link_to "ADD TO BASKET", "#", class: "btn btn-flat btn-basket" %>
        </div>
      </div>
    </div>
  </div>
</div>
