<h2>Thanks, you for your purchase. Your payment of <strong><%= @current_cart.inject(0) do |sum, (key, quantity)|
           @product = Product.find(key)
           sum += @product.price * quantity
         end %></strong> was successfull!</h2>
